# Prevent massive files from timing out the Google Cloud upload
.gcloudignore
.git
.gitignore

# Virtual Environments
venv/
env/
__pycache__/

# Secrets
.env
.env.local

# Big Temp Files
feedback_logs.json
structure.txt
knowledge_base/
